<a href="https://colab.research.google.com/github/deep-diver/deeplearning-with-structured-data/blob/master/notebooks/chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# "딥러닝으로 다루는 정형 데이터" 2장에 대한 코드
2장에서 다루는 코드를 담은 노트북입니다.

여기서 사용되는 코드는 "data" 라는 디렉터리에 아래의 파일이 담겨 있다는것을 가정합니다. "data" 디렉터리는 "notebook" 디렉터리와 같은 계위에 놓여있습니다.
- iriscaps.csv
- ttc-streetcar-delay-data-2014.xlsx

In [1]:
# 현재 노트북 디렉터리의 경로를 가져옵니다
import os
rawpath = os.getcwd()
print("현재 경로는", rawpath, "입니다")

현재 경로는 /Volumes/T7/git/structured-data/notebooks 입니다

In [14]:
# "data" 디렉터리 경로를 가져옵니다.
# 지금부터의 코드는 모든 XLS 파일이 "data" 디렉터리에 존재한다고 가정합니다.
# 예제소스가 담긴 저장소를 복제하면 모든 파일이 이미 들어있습니다.
# XLS 파일 다운로드 주소: https://www.toronto.ca/city-government/data-research-maps/open-data/open-data-catalogue/#e8f359f0-2f47-3058-bf64-6ec488de52da

# Google Colab을 사용하지 않는경우, 아래의 코드를 다음과 같이 변경합니다.
# path = os.path.abspath(os.path.join(rawpath, '..', 'data'))
#path = os.path.abspath(os.path.join(rawpath, 'data'))
path = '/Volumes/T7/git/structured-data/data'
print("data 디렉터리 경로는", path, "입니다")

data 디렉터리 경로는 /Volumes/T7/git/structured-data/data 입니다

In [3]:
# 팬더스 라이브러리를 불러옵니다
import pandas as pd

# 아이리스 데이터셋의 URL
url="https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv"

# 해당 URL의 CSV를 팬더스 데이터프레임으로 만듭니다
iris_dataframe=pd.read_csv(url)

# 데이터프레임의 첫 다섯 개의 데이터를 출력합니다
iris_dataframe.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# 데이터의 총 개수를 출력합니다
iris_dataframe.shape[0]

150

In [5]:
# species(품종)이 "setosa"인 데이터로 필터링 한 뒤, 
# 그 중 첫 다섯 개의 데이터만 출력합니다
setosa_frame = iris_dataframe[iris_dataframe["species"] == 'setosa']
setosa_frame.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
# species(품종)이 "setosa"인 데이터의 개수를 출력합니다
iris_dataframe[iris_dataframe["species"] == 'setosa'].shape[0]

50

In [9]:
# 팬더스 라이브러리를 불러옵니다
import pandas as pd

# 이번에는 data 디렉터리에 포함된 아이리스 데이터를 사용합니다
# 아래는 해당 데이터셋의 CSV 파일명 입니다
file = "/Volumes/T7/git/structured-data/data/iriscaps.csv"

# 해당 파일을 팬더스 데이터프레임으로 만듭니다
iris_dataframe=pd.read_csv(os.path.join(path,file))

# 데이터프레임의 첫 다섯 개의 데이터를 출력합니다
iris_dataframe.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [11]:
#엑셀 파일을 조작하기 위한 xlrd 패키지를 설치합니다
!pip install xlrd
!pip install --upgrade pip

Requirement already satisfied: xlrd in /Users/jason/.local/lib/python3.9/site-packages (2.0.1)

[notice] A new release of pip available: 22.1.2 -> 22.2.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pip in /Users/jason/.local/lib/python3.9/site-packages (22.1.2)
Collecting pip
  Downloading pip-22.2.1-py3-none-any.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 17.7 MB/s eta 0:00:0000:0100:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.1.2
    Uninstalling pip-22.1.2:
      Successfully uninstalled pip-22.1.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
fastai 2.7.3 requires torch<1.12,>=1.7.0, but you have torch 1.13.0.dev20220718 which is incompatible.
Successfully installed pip-22.2.1

In [15]:
# 팬더스 라이브러리를 불러옵니다
import pandas as pd

# 읽을 파일명을 정의합니다
file = "ttc-streetcar-delay-data-2014.xlsx"

# 해당 엑셀 파일의 메타데이터를 읽어들입니다
xlsf = pd.ExcelFile(os.path.join(path,file))

# 해당 엑셀파일내 첫 번째 스프레드시트를 팬더스 데이터프레임으로 만듭니다
df = pd.read_excel(os.path.join(path,file),sheet_name=xlsf.sheet_names[0])

# 그 후 나머지 스프레드시트를 반복적으로 접근하면서, 앞서 만든 데이터프레임에 이어붙여 줍니다
for sheet_name in xlsf.sheet_names[1:]:
    print("스프레드시트 이름은", sheet_name, "입니다")
    # 반복문내 현재 접근한 스프레드시트를 읽어 팬더스 데이터프레임으로 만듭니다
    data = pd.read_excel(os.path.join(path,file),sheet_name=sheet_name)
    # 기존 데이터프레임에 읽은 데이터프레임을 이어 붙입니다
    df = df.append(data)

스프레드시트 이름은 Feb 2014 입니다
스프레드시트 이름은 Mar 2014 입니다

/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

스프레드시트 이름은 Apr 2014 입니다
스프레드시트 이름은 May 2014 입니다

/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

스프레드시트 이름은 Jun 2014 입니다
스프레드시트 이름은 July 2014 입니다

/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

스프레드시트 이름은 Aug 2014 입니다
스프레드시트 이름은 Sept 2014 입니다

/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

스프레드시트 이름은 Oct 2014 입니다
스프레드시트 이름은 Nov 2014 입니다

/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

스프레드시트 이름은 Dec 2014 입니다

/var/folders/bb/yv8h0hc15pb4z0fy_6mz6mth0000gn/T/ipykernel_21455/1065257864.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

In [16]:
# 데이터프레임의 크기를 출력합니다
# 첫 번째는 데이터의 개수를, 두 번째는 열 개수를 의미합니다
df.shape

(11027, 10)

In [17]:
# 데이터프레임의 첫 다섯 개 데이터를 출력합니다
df.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2014-01-02,505,06:31:00,Thursday,Dundas and Roncesvalles,Late Leaving Garage,4.0,8.0,E/B,4018.0
1,2014-01-02,504,12:43:00,Thursday,King and Shaw,Utilized Off Route,20.0,22.0,E/B,4128.0
2,2014-01-02,501,14:01:00,Thursday,Kingston road and Bingham,Held By,13.0,19.0,W/B,4016.0
3,2014-01-02,504,14:22:00,Thursday,King St. and Roncesvalles Ave.,Investigation,7.0,11.0,W/B,4175.0
4,2014-01-02,504,16:42:00,Thursday,King and Bathurst,Utilized Off Route,3.0,6.0,E/B,4080.0

In [18]:
# 데이터프레임의 마지막 다섯 개의 데이터를 출력합니다
df.tail()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
869,2014-12-31,509,22:30:00,Wednesday,Union Loop to Exhibition Loop,General Delay,10.0,20.0,B/W,NaN
870,2014-12-31,504,22:54:00,Wednesday,King and Dunn,Emergency Services,11.0,16.0,E/B,4128.0
871,2014-12-31,505,23:00:00,Wednesday,Dundas West Station to Broadview Station,General Delay,10.0,12.0,B/W,NaN
872,2014-12-31,511,23:01:00,Wednesday,CNE,Mechanical,8.0,16.0,N/B,4160.0
873,2014-12-31,504,23:18:00,Wednesday,King and Bathurst,Mechanical,7.0,14.0,E/B,4128.0

In [19]:
# 데이터프레임을 파일시스템에 피클 파일 형식으로 저장합니다
file = "iris_dataframe.pkl"
iris_dataframe.to_pickle(os.path.join(path,file))

In [20]:
# 저장된 피클 파일을 데이터프레임으로 불러옵니다
file = "iris_dataframe.pkl"
iris_dataframe_from_pickle = pd.read_pickle(os.path.join(path,file))

# 그리고, 정상적으로 저장되었는지를 확인합니다
iris_dataframe_from_pickle.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa